.container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 1px 1px 3px gray;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.converstions-text {
  font-family: "Customfont", "sans-serif";
  font-weight: 200;
  font-size: 1.25rem;
  color: #424242;
  line-height: 1.25rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-top: 0;
}

.text-airbnbn-dark {
  font-family: "Customfont", "sans-serif";
  font-weight: 200;
  font-size: 1rem;
  color: #af3434;
  line-height: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
