.property-grid {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}
.property-item {
  /* background-color: #f3f3f3; */
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .property-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .property-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
