.property-list-text {
  font-family: "Customfont", "sans-serif";
  font-weight: 600;
  font-size: 2.5rem;
  color: #1b1a1a;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-left: 1.25rem;
  text-align: left;
}
