.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  z-index: 50;
}

.modal-position {
  position: relative;
  width: 90%;
  margin: auto;
  height: auto;
}

@media (max-width: 700px) {
  .modal-position {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .modal-position {
    width: 700px;
  }
}

.modal-content {
  transform: translateY(0);
  transition: transform 600ms, opacity 600ms;
  height: 100%;
  opacity: 1;
}

.modal-box {
  width: 100%;
  height: auto;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid currentColor;
  height: 10px;
}

.modal-close-button {
  padding: 1.25rem;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button:hover {
  background-color: rgb(194, 194, 194);
}

.modal-header-text {
  font-family: "Customfont", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.p-6 {
  padding: 2rem;
}
